NEXT_PUBLIC_SUPABASE_URL=https://kpmmhdktfwhdnyrwodhc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtwbW1oZGt0ZndoZG55cndvZGhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2NzcxNjMsImV4cCI6MjEwMDI1MzE2M30.Sl3MN8jWgbuPXHarz3UU03BOqKxVJ7n2_FCA_6z8EnY

# LeakifyHub API (sandbox)
LEAKIFYHUB_PUBLIC_KEY=pk_test_your_public_key
LEAKIFYHUB_SECRET_KEY=sk_test_your_secret_key
