NEXT_PUBLIC_SUPABASE_URL=https://fxdxlukvvjoldhhczcrg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4ZHhsdWt2dmpvbGRoaGN6Y3JnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzODM5MDAsImV4cCI6MjA5OTk1OTkwMH0.AWiY8gjJ2TTY4lR82qtHmP45iXa5l4Bn70r2JXOhNyU
